form, p, span {
    margin: 0;
    padding: 0;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


html, body {
    padding: 0px;
    margin: 0px;
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    -webkit-flex:1;
    -ms-flex:1;
    flex: 1;
    
    overflow: hidden;
}

html {
    height: 100% !important;
    max-height: 100% !important;
    min-height: 100% !important;
    
    background: red;
    font-family:sans-serif;
    -ms-text-size-adjust:120%;
    -webkit-text-size-adjust:120%;
}

body {
    background: #444;
}

#chatbox {
    text-align: left;
    background: #fdfdfd;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-flex:1;
    -ms-flex:1;
    flex: 1;
}




#inputPanel {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background: white;
    padding: 0px 0px 8px 0px;
}

#message {
    -webkit-flex:1;
    -ms-flex:1;
    flex: 1;
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
    border-radius: 2px 0 0 2px;
}

#sendmessage {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
    background-color: rgba(56, 143, 255, 1);
    color: white;
    font: inherit;
    font-weight: normal;
    border-radius: 0 2px 2px 0;
}



.textEntry {
    padding:  5px 12px 5px 12px;
    margin-bottom: 2px;
}

.txtUserName {
    font-size: 12pt;
    color: #000000;
    font-weight: bold;
    display: inline;
}

.txtMessage {
    font-size: 13pt;
    color: #000000;
    margin-left: 8px;
    display: inline;
    word-wrap: break-word;
}